/**
 * Domain: rtmpmate.com
 * Author: Tony Lau
 */

* {
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
}

html {
	font-size: 10px;
}

body {
	font-family: Karbon, Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	font-style: normal;
	line-height: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #E6E6E6;
	background-color: #303030;
}

header, footer, .wrap {
	width: 100%;
}

.topbar, nav, .footerall, .copyright {
	width: 100%;
}

section {
	margin: 0 auto;
	width: 100%;
	max-width: 100rem;
}

p {
	margin: 2rem 0;
}

a {
	color: #BDBDBD;
	text-decoration: none;
}
a:active, a:focus, a:hover {
	outline: 0;
}

i {
	color: #BDBDBD;
}

input {
	padding: 2px 6px;
	font-family: sans-serif;
	font-size: 1.4rem;
	border: none;
}

.center {
	text-align: center;
}

.btn {
	padding: .6rem 1.4rem;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	word-spacing: normal;
	border: none;
	border-radius: .1875rem;
	cursor: pointer;
	display: inline-block;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: 150ms ease-in-out;
	transition-property: background-color, color;
}
.btn.red {
	color: #FFFFFF;
	background-color: #FF0046;
}
.btn.red:hover {
	background-color: #97052D;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1, h2, h3 {
	margin-top: 1.6rem;
	margin-bottom: 1.2rem;
}
h4, h5, h6 {
	margin-top: 1.2rem;
	margin-bottom: 1.0rem;
}
h1 {
	font-size: 2.2rem;
}
h2 {
	font-size: 2.0rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}

ul.u1 li {
	margin: 2.2rem 0 0 2.2rem;
	font-size: 2.2rem;
	line-height: 2.2rem;
}
ul.u2 li {
	margin: 2.0rem 0 0 2.0rem;
	font-size: 2.0rem;
	line-height: 2.0rem;
}
ul.u3 li {
	margin: 1.8rem 0 0 1.8rem;
	font-size: 1.8rem;
	line-height: 1.8rem;
}
ul.u4 li {
	margin: 1.6rem 0 0 1.8rem;
	font-size: 1.6rem;
	line-height: 1.6rem;
}
ul.u5 li {
	margin: 1.4rem 0 0 1.6rem;
	font-size: 1.4rem;
	line-height: 1.4rem;
}
ul.u6 li {
	margin: 1.2rem 0 0 1.4rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
}
ul.square {
	list-style-type: square;
}
ul.circle {
	list-style-type: circle;
}


/**
 * Header
 */

.info {
	list-style-type: none;
}
.info span {
	padding-left: 1.6rem;
	color: #999999;
	background-position: left;
}
.info .icon-card {
	background-image: url(../images/icon/card.png);
}
.info .icon-phone {
	background-image: url(../images/icon/phone.png);
}
.info .icon-email {
	background-image: url(../images/icon/email.png);
}
.info .icon-address {
	background-image: url(../images/icon/address.png);
}


.topbar {
	padding: 1rem 0;
	font-size: 1.2rem;
	line-height: 2.0rem;
	background-color: #171717;
}
.topbar section .info {
	overflow: hidden;
}
.topbar section .info li {
	float: left;
	margin-right: 1rem;
}

@media only screen and (max-width: 568px) {
.topbar {
	display: none;
}
}


nav {
	background-color: #242424;
}
nav section {
	overflow: hidden;
}
nav section .logo {
	float: left;
}
nav section .logo a {
	font-size: 3rem;
	font-weight: bold;
	color: #E6E6E6;
	line-height: 6rem;
}

nav section > ul {
	float: right;
	height: 100%;
	list-style-type: none;
}
nav section > ul > li {
	float: left;
	margin-left: .5rem;
	display: block;
}
nav section > ul > li.current, nav section > ul > li:hover {
	background-color: #454545;
	box-shadow: inset 0 -4px 0 0 #0B7EF4;
}
nav section > ul > li a {
	padding: 2rem 1rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: #BDBDBD;
	line-height: 6rem;
	cursor: pointer;
}
nav section > ul > li.current > a, nav section > ul > li:hover > a {
	color: #E6E6E6;
}

nav section > ul > li ul {
	list-style-type: none;
	display: none;
	position: absolute;
	z-index: 99;
}
nav section > ul > li:hover ul {
	display: block;
}
nav section > ul > li ul li {
	background-color: #25292C;
}
nav section > ul > li ul li:hover {
	background-color: #454545;
}
nav section > ul > li ul li a {
	padding: 1rem 2rem;
	font-size: 1.2rem;
	line-height: 3rem;
}
nav section > ul > li ul li:hover a {
	color: #E6E6E6;
}

nav section .menu-toggle {
	float: right;
	width: 4rem;
	height: 4rem;
	background-image: url(../images/icon/menu.png);
	display: none;
}

@media only screen and (max-width: 568px) {
nav section .menu-toggle {
	margin: 1rem;
	display: block;
}
nav section .menu-toggle:hover ~ ul,
nav section .menu-toggle ~ ul:hover {
	height: 21rem;
}

nav section > ul {
	float: none;
	clear: both;
	height: 0;
	overflow: hidden;
	transition: height .4s;
}
nav section > ul > li {
	float: none;
	margin-left: 0;
}
nav section > ul > li a {
	line-height: 3rem;
}

nav section > ul > li ul {
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height .2s;
	display: block;
}
nav section > ul > li:hover ul {
	height: 15.6rem;
}
}


/**
 * Slider
 */

.slider {
	height: 500px;
	background-color: #363636;
}
.slider section {
	height: 100%;
}

@media only screen and (max-width: 1024px) {
.slider {
	height: 426px;
}
}
@media only screen and (max-width: 768px) {
.slider {
	height: 320px;
}
}
@media only screen and (max-width: 568px) {
.slider {
	height: 236px;
}
}
@media only screen and (max-width: 425px) {
.slider {
	height: 178px;
}
}
@media only screen and (max-width: 375px) {
.slider {
	height: 156px;
}
}
@media only screen and (max-width: 320px) {
.slider {
	height: 132px;
}
}


/**
 * Wrap
 */

.alipay {
	float: left;
	background-image: url(../images/alipay.jpg);
}
.wxpay {
	float: right;
	background-image: url(../images/wxpay.jpg);
}

.wrap {
	margin: 4rem 0;
	font-family: sans-serif;
}
.wrap .pay {
	margin: 0 auto;
	max-width: 54rem;
	overflow: hidden;
}
.wrap .pay .alipay, .wrap .pay .wxpay {
	width: 25rem;
	height: 36.5rem;
}

.wrap .heart {
	float: left;
	margin: 0 2rem;
	width: 5.5rem;
	height: 5.5rem;
	background-image: url(../images/heart.png);
}

@media only screen and (max-width: 44rem) {
.wrap .pay {
	width: 25rem;
}
.wrap .pay .wxpay {
	margin-top: 2rem;
}
}


/**
 * Footer
 */

.footerall {
	background-color: #242424;
}
.footerall section {
	
}
.footerall section > ul {
	padding: 2rem 0 4rem;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
}
.footerall section > ul > li {
	float: left;
	margin-top: 2rem;
	width: 25%;
	text-align: center;
}
.footerall section > ul > li > a {
	width: 100%;
	display: block;
}
.footerall section > ul > li > a:before {
	margin: 0 auto 1rem;
	width: 80%;
	height: 4px;
	content: '';
	display: block;
	background-color: #555A64;
}
.footerall section > ul > li.current > a:before {
	background-color: #0B7EF4;
}
.footerall section > ul > li > a strong {
	color: #E6E6E6;
}
.footerall section > ul > li > a:hover strong {
	border-bottom: solid 1px transparent;
}
.footerall section > ul > li > a > span {
	margin-top: 1rem;
	text-align: center;
	display: block;
}

@media only screen and (max-width: 568px) {
.footerall section > ul > li {
	width: 50%;
}
}

.copyright {
	padding: 2rem 0;
	font-size: 1.2rem;
	color: #999999;
	text-align: center;
	background-color: #171717;
}