@import url("global.css") screen;

/**
 * index
 */

#slicer canvas {
	background-color: transparent;
}


/**
 * solutions
 */

.samplewrap {
	margin: 4rem auto;
	width: 100%;
	overflow: hidden;
}

.samplewrap .playwrap {
	float: left;
	width: 68%;
	height: 100%;
	top: 0;
	left: 0;
}

.samplewrap .chatwrap {
	float: right;
	width: 30%;
	height: 100%;
}

@media only screen and (max-width: 568px) {
.samplewrap .playwrap {
	float: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.samplewrap .chatwrap {
	float: none;
	margin-top: 2rem;
	width: 100%;
	height: 100%;
}
}


/**
 * features
 */

.features, .features section, .features .container {
	overflow: hidden;
}
.features .container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: baseline;
}
.features .container a {
	margin-top: 2rem;
	padding: 1.4rem;
	width: 50%;
	max-width: 36rem;
	border-radius: .25rem;
	overflow: hidden;
}
.features .container a:hover {
	box-shadow: inset 0 0 0 1px #AAB4C8;
}
.features .container a .img-container {
	float: left;
	margin-right: 1.4rem;
	max-width: 9.8rem;
}
.features .container a .img-container img {
	width: 100%;
}
.features .container a h4 {
	margin: 0 0 1rem;
}

@media only screen and (max-width: 568px) {
.features .container a {
	width: 90%;
	text-align: center;
}
.features .container a .img-container {
	float: none;
	margin: 0 auto;
}
.features .container a h4 {
	margin: 1rem 0;
}
}


/**
 * playease
 */

.input-container {
	margin-top: .8rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}
.input-container input {
	margin-right: .6rem;
	flex: 1 1 auto;
	background-color: #999999;
}
.input-container .btn {
	flex: 0 0 4rem;
}