@import url("global.css") screen;

/**
 * index
 */

#slicer canvas {
	background-color: transparent;
}


/**
 * solutions
 */

.samplewrap {
	margin: 40px auto;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.samplewrap .playwrap {
	width: 68%;
	height: 100%;
	top: 0;
	left: 0;
}

.samplewrap .chatwrap {
	width: 30%;
	height: 100%;
	right: 0;
	bottom: 0;
	position: absolute;
}

@media only screen and (max-width: 568px) {
.samplewrap .playwrap {
	width: 100%;
}

.samplewrap .chatwrap {
	margin-top: 20px;
	width: 100%;
	position: relative;
}
}


/**
 * features
 */

.features, .features section {
	overflow: hidden;
}
.features section > span {
	float: left;
	margin-top: 20px;
	width: 50%;
}
.features section > span a {
	margin: 0 auto;
	padding: 14px;
	max-width: 360px;
	border-radius: 2px;
	display: block;
	overflow: hidden;
}
.features section > span a:hover {
	box-shadow: inset 0 0 0 1px #AAB4C8;
}
.features section > span a .img-container {
	float: left;
	margin-right: 14px;
	max-width: 98px;
}
.features section > span a .img-container img {
	width: 100%;
}
.features section > span a h4 {
	margin: 0 0 10px;
}

@media only screen and (max-width: 568px) {
.features section > span {
	width: 100%;
}
.features section > span a {
	text-align: center;
}
.features section > span a .img-container {
	float: none;
	margin: 0 auto;
}
.features section > span a h4 {
	margin: 10px 0;
}
}


/**
 * playease
 */

.input-container {
	margin-top: 8px;
	width: 100%;
	height: 28px;
	position: relative;
	overflow: hidden;
}
.input-container span {
	margin-right: 74px;
	display: block;
}
.input-container span input {
	padding: 2px 1%;
	width: 98%;
	height: 24px;
	background-color: #999999;
}
.input-container .btn {
	width: 40px;
	top: 0;
	right: 0;
	position: absolute;
}